# Sets

In [1]:
a = {1,2,3,1,2}
a

{1, 2, 3}

In [2]:
#indexing not available due to automatic ordering
a[0]

TypeError: 'set' object is not subscriptable

In [12]:
# set declaration
a =  {1,2,3,1,2} # declaration method 1
a

{1, 2, 3}

In [11]:
b = set[(4,5,6,7,8)] # declaration method 2
b

set[4, 5, 6, 7, 8]

In [13]:
type(a)

set

In [4]:
# automatic ordering
names = {"Sharjeel" , "Ali" , "Shahzaib" , "Ali" ,"Kamal"}
names

{'Ali', 'Kamal', 'Shahzaib', 'Sharjeel'}

In [5]:
names = {}
type(names)

dict

In [16]:
names = {}
list =[]
tuple = ()
type(names) , type(list) , type(tuple) ,

(dict, list, tuple)

In [27]:
names = {}
names = set()
type(names)

set

In [17]:
len(a)

3

In [18]:
# immutable data types can store in set

s = {(1,2,3), "hi" , 12.4 , True}
s

{(1, 2, 3), 12.4, True, 'hi'}

In [22]:
# Store unique elements
# list converted to set
a = [1,2,3,4,2,3,4,1]
a = set(a)
a

{1, 2, 3, 4}

In [25]:
# Store unique elements
# tuple converted to set
b = (1,2,3,4,2,3,4,1,4,6,3,6,7,8,8,5,5,3)
b = set(b)
b

{1, 2, 3, 4, 5, 6, 7, 8}

## String Methods

In [32]:
# add anywhere, dont know where 
ages = {20,34,56,12,32,67}
ages.add(40)
ages

{12, 20, 32, 34, 40, 56, 67}

In [30]:
# not unique value
a = {10,20,30}
a.add(30)
a

{10, 20, 30}

In [39]:
# empty set
a = {10,20,30}
a.clear()
a

set()

In [40]:
del a
a

NameError: name 'a' is not defined

In [42]:
c = {10,20,30,56,89,93}
d = c.copy()
d

{10, 20, 30, 56, 89, 93}

In [44]:
d.add(70)
d

{10, 20, 30, 56, 70, 89, 93}

In [46]:
#delete
c = {10,20,30,56,89,93,70}
c.discard(70)
c

{10, 20, 30, 56, 89, 93}

In [47]:
#remove
c = {10,20,30,56,89,93}
c.remove(30)
c

{10, 20, 56, 89, 93}

In [49]:
# pop remove any item randomly
c = {10,20,30,56,89,93}
c.pop()

20

In [2]:
z = {10,20,30,56,89,93,76,54,21,11}
z[0] = 1

TypeError: 'set' object does not support item assignment