# Loops

In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [3]:
#range function(slicing concept)

In [5]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(10,21))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
list(range(10,24,2))

[10, 12, 14, 16, 18, 20, 22]

In [2]:
# for loop

In [8]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(1,11):
    print(i,": Sehar Tahir")

1 : Sehar Tahir
2 : Sehar Tahir
3 : Sehar Tahir
4 : Sehar Tahir
5 : Sehar Tahir
6 : Sehar Tahir
7 : Sehar Tahir
8 : Sehar Tahir
9 : Sehar Tahir
10 : Sehar Tahir

In [19]:
#sum
sum = 0
for i in range(1,26):
    sum = sum + i
print(sum)

325

In [20]:
#sum with user input
start = int (input("Enter starting value"))
end = int (input("Enter ending value"))
sum = 0
for i in range(start, end+1):
    sum = sum + i
print(sum)

Enter starting value 1
Enter ending value 25

325

In [21]:
for i in range(0,10):
    name = input("Enter your name")
    print(f" Hello {name}")

Enter your name Sehar Tahir

 Hello Sehar Tahir

Enter your name Abeeha

 Hello Abeeha

Enter your name Anzish

 Hello Anzish

Enter your name Amna

 Hello Amna

Enter your name Bushra

 Hello Bushra

Enter your name Ayesha

 Hello Ayesha

Enter your name Zarina

 Hello Zarina

Enter your name Tahir

 Hello Tahir

Enter your name sehar

 Hello sehar

Enter your name tahir

 Hello tahir

In [1]:
#create list using loop
lis = []

for i in range(5):
    INP = input("Enter your program")
    lis.append(INP)
    
lis

Enter your program IT
Enter your program CS
Enter your program AI
Enter your program DS
Enter your program SE

['IT', 'CS', 'AI', 'DS', 'SE']

In [4]:
#table
table = 10
for i in range(1,11):
   print(f"{table} * {i} = {table*i}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [1]:
#table
table = int(input("Enter num to print table: "))
rang = int(input("Enter range of table: "))
for i in range(1, rang+1):
    res = table * i
    print(f"{table} * {i} = {res}")

Enter num to print table:  4
Enter range of table:  12

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

In [2]:
s = "Hi, I am Sehar Tahir. I am stud of BS IT at IUB."
s[0]

'H'

In [3]:
len(s)

48

In [4]:
# iterate on string using loop
s = "Hi, I am Sehar Tahir. I am stud of BS IT at IUB."
for i in range(len(s)):
    print (s[i])

H
i
,

I

a
m

S
e
h
a
r

T
a
h
i
r
.

I

a
m

s
t
u
d

o
f

B
S

I
T

a
t

I
U
B
.

In [8]:
s = "Hi, I am Sehar Tahir! I am stud of BS IT at IUB."
count = 0

for i in range(len(s)):
    if s[i] == " ":
        continue 
    else:
        count = count + 1
print (count) #indent extreme left if you want just last output not every loop output

36

In [1]:
s = "Hi, I am Sehar Tahir! I am stud of BS IT at IUB."
count = 0

for i in range(len(s)):
    if s[i] == " ":
        continue 
    elif s[i] == "!":
        continue
    elif s[i] == ".":
        continue
    else:
        count = count + 1
print (count)

34

In [19]:
#Q6
list1 = [20, 40, 60, 80 , 100]
for i in range(0,len(list1)):
    list1[i] = list1[i] + 10
list1

[30, 50, 70, 90, 110]

In [20]:
#Q6
list1 = [20, 40, 60, 80 , 100]
k = 0
for i in list1:
    list1[k] = i + 10
    k = k + 1
list1

[30, 50, 70, 90, 110]

In [21]:
#tuple

In [23]:
tup = (20,40,60,80,100)
for i in tup:
    print(i)

20
40
60
80
100

In [22]:
#dictionary

In [24]:
dictionary = {1: "Sehar" , 2:"Tahir" , 3:20}
dictionary.keys()

dict_keys([1, 2, 3])

In [25]:
dictionary = {1: "Sehar" , 2:"Tahir" , 3:20}
dictionary.values()

dict_values(['Sehar', 'Tahir', 20])

In [26]:
dictionary = {1: "Sehar" , 2:"Tahir" , 3:20}
for i in dictionary:
    print(i)

1
2
3

In [27]:
dictionary = {1: "Sehar" , 2:"Tahir" , 3:20}
for i in dictionary.keys():
    print(i)

1
2
3

In [28]:
dictionary = {1: "Sehar" , 2:"Tahir" , 3:20}
for i in dictionary.values():
    print(i)

Sehar
Tahir
20