# Dictionary

In [1]:
#key value pairs:

dic = {1:"Sehar" , 2:"Tahir"}
dic

{1: 'Sehar', 2: 'Tahir'}

In [2]:
dic[1]

'Sehar'

In [4]:
dic = {'student1':"Sehar" , 'student2':"Tahir"}
dic

{'student1': 'Sehar', 'student2': 'Tahir'}

In [6]:
dic['student1']

'Sehar'

In [17]:
students = {'stud_1':["Sehar",3.5, 'M'] , 'stud_2':["Tahir",3.9,30,'M']}
students['stud_1']

['Sehar', 3.5, 'M']

In [18]:
students['stud_2']

['Tahir', 3.9, 30, 'M']

In [2]:
#Methods

In [8]:
st = {'stud_1':["Sehar",3.5, 'M'] , 'stud_2':["Tahir",3.9,30,'M']}

In [5]:
#clear (clear all content of dic not dict)
st.clear()
st

{}

In [10]:
#del  (del all content of dic + dict)
del st
st

NameError: name 'st' is not defined

In [11]:
# fromkeys fixed the keys(index) but values are not fixed 

x = ('key1' , 'key2' , 'key3')
y = 1
st = dict.fromkeys(x,y)
st

{'key1': 1, 'key2': 1, 'key3': 1}

In [12]:
# convert tuple to dictionary using dict 
stu = dict([(11,"Sehar"), (12,"Tahir")])
stu

{11: 'Sehar', 12: 'Tahir'}

In [29]:
#setdefault (add in the previous dict)
y = {11:"Sehar", 12:"Tahir"}
y.setdefault(15,'Ahad')

'Ahad'

In [30]:
#get (just to get not add in the dict)
y.get(17, 'None')

'None'

In [27]:
#add in the dic
x = {11:"Sehar" , 12:"Tahir"}
x[13] = 'kamran'
x

{11: 'Sehar', 12: 'Tahir', 13: 'kamran'}

In [31]:
#update or add new value in the dic
x.update({14: 'Ali'})
x

{11: 'Sehar', 12: 'Tahir', 13: 'kamran', 14: 'Ali'}

In [32]:
#update or add new value in the dic
x.update({13: 'Zeeshan'})
x

{11: 'Sehar', 12: 'Tahir', 13: 'Zeeshan', 14: 'Ali'}

In [36]:
#it gives all dict values
x.values()

dict_values(['Sehar', 'Tahir', 'Zeeshan', 'Ali'])

In [35]:
#it gives all dict keys
x.keys()

dict_keys([11, 12, 13, 14])

In [39]:
#copy
a = {1:'Ali' , 2:'Arooj' , 3:'Alia'}
b = a.copy()
b

{1: 'Ali', 2: 'Arooj', 3: 'Alia'}

In [40]:
#Program:

In [43]:
capitals = {
    "Canada" :'Toronto',
    "Pakistan":'Islamabad',
     "Malaysia":'Kualampur',
}
capitals["Canada"]

'Toronto'

In [44]:
capitals.update({"India":'Mumbai'})
capitals

{'Canada': 'Toronto',
 'Pakistan': 'Islamabad',
 'Malaysia': 'Kualampur',
 'India': 'Mumbai'}

In [47]:
print(capitals.keys())
print(capitals.values())

dict_keys(['Canada', 'Pakistan', 'Malaysia', 'India'])
dict_values(['Toronto', 'Islamabad', 'Kualampur', 'Mumbai'])

In [72]:
capitals = {
    "Canada" :'Toronto',
    "Pakistan":'Islamabad',
     "Malaysia":'Kualampur',
}
capitals.pop("Canada")
capitals

{'Pakistan': 'Islamabad', 'Malaysia': 'Kualampur'}

In [53]:
capitals.popitem()
capitals

{'Pakistan': 'Islamabad', 'Malaysia': 'Kualampur'}

In [55]:
capitals.clear()
capitals

{}