In [1]:
# in works with data types who have iterables(strings + lists)
a = "This is the 9th session of python class"
"is" in a

True

In [11]:
x = [8,9,6,"hi",4,2]
9 in x

True

In [5]:
# reverse (it changes the original list)
a = [1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [9]:
# reverse (it changes the original list)
b = [6,7,8,9]
b[::-1]
b

[6, 7, 8, 9]

In [12]:
# sort function (sort the list in assending order)

In [13]:
nums = [89,6,4,7,34,56,12,5]
nums.sort()
nums

[4, 5, 6, 7, 12, 34, 56, 89]

In [14]:
names = ["sehar" , "shahzaib" , "ali" , "rabia", "kiran"]
names.sort()
names

['ali', 'kiran', 'rabia', 'sehar', 'shahzaib']

In [15]:
# for decending order
nums = [89,6,4,7,34,56,12,5]
nums.sort(reverse = True)
nums

[89, 56, 34, 12, 7, 6, 5, 4]

In [16]:
# for decending order
names = ["sehar" , "shahzaib" , "ali" , "rabia", "kiran"]
names.sort(reverse = True)
names

['shahzaib', 'sehar', 'rabia', 'kiran', 'ali']

# Tuple

In [17]:
mytuple = ("apple", "banana", "cake" , "stawberry")
mytuple

('apple', 'banana', 'cake', 'stawberry')

In [18]:
#length
len(mytuple)

4

In [19]:
mytuple[1]

'banana'

In [20]:
mytuple[-1]

'stawberry'

In [21]:
#Slicing
thistuple = ("apple", "banana", "cake" , "stawberry", "chocalate" , "milk")
thistuple [1:5]

('banana', 'cake', 'stawberry', 'chocalate')

In [22]:
# negative Slicing
thistuple = ("apple", "banana", "cake" , "stawberry", "chocalate" , "milk")
thistuple [-4:-1]

('cake', 'stawberry', 'chocalate')

In [23]:
"kiwi" in thistuple

False

In [28]:
# tuple converted to list then change
y = list(thistuple)  #list
print(y)
y[1] = "kiwi"
x = tuple(y) #tuple
print(x)

['apple', 'banana', 'cake', 'stawberry', 'chocalate', 'milk']
('apple', 'kiwi', 'cake', 'stawberry', 'chocalate', 'milk')

In [35]:
#concatenation or merge two tuples
thattuple = ("apple", "banana", "cake" , "stawberry", "chocalate" , "milk")
z = ("orange",)  # one comma is must
thattuple += z  # thattuple = thattuplen + z
print(thattuple)

('apple', 'banana', 'cake', 'stawberry', 'chocalate', 'milk', 'orange')

In [39]:
# remove element
newtuple = ("apple", "banana", "cake" , "stawberry", "chocalate" , "milk")
m = list(newtuple)

m.remove("apple")

newtuple = tuple(m)
print(newtuple)

('banana', 'cake', 'stawberry', 'chocalate', 'milk')

In [40]:
# delete 
newtuple = ("apple", "banana", "cake" , "stawberry", "chocalate" , "milk")
del newtuple
print(newtuple)

NameError: name 'newtuple' is not defined

In [ ]:
#unpack (store each element in new each variable)

newtuple = ("stawberry", "chocalate" , "milk")
(green,yellow,red) = newtuple
print(green)
print(yellow)
print(red)

stawberry
chocalate
milk

In [45]:
# remaining values store in that variable that have * star.
newtuple = ("apple", "banana", "cake" , "stawberry", "chocalate" , "milk")
(green,yellow,*red) = newtuple

print(green)
print(yellow)
print(red)

apple
banana
['cake', 'stawberry', 'chocalate', 'milk']

In [46]:
# remaining values store in that variable that have * star./
newtuple = ("apple", "banana", "cake" , "stawberry", "chocalate" , "milk")
*green,yellow,red = newtuple

print(green)
print(yellow)
print(red)

['apple', 'banana', 'cake', 'stawberry']
chocalate
milk

In [52]:
# join two tuples

tuple1 = ("a" , "b" , "c" )
tuple2 = (1,2,3)

tuple3 = tuple1 + tuple2
tuple3

('a', 'b', 'c', 1, 2, 3)

In [51]:
# jitny times copy krna multiply kr dain

tuple1 = ("a" , "b" , "c" )
tuple1*4

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [54]:
#counts how many times 2 comes in tuple

tup = (1,2,3,4,5,6,7,2,1,7,2,2,7,2,9)
tup.count(2)

5

In [55]:
#index check index

tup = (1,2,3,4,5,6,7,2,1,7,2,2,7,2,9)
tup.index(7)

6